@import './base.css';

#app {
  padding: 0.5rem;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  #app {
    overflow-y: hidden;
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
